<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- Suppress any log messages less severe than WARN for the Intel deflater and set additivity to false to avoid
          passing messages to the Root logger and causing duplicate messages  -->
    <Logger name="com.intel.gkl" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
