<header>
	<h1><a href="http://fulcrumgenomics.github.io/fgbio/">fgbio</a></h1>

	<p>Tools for working with genomic and high throughput sequencing data.</p>

	<p class="view"><a href="https://github.com/fulcrumgenomics/fgbio">View the Project on GitHub <small></small></a></p>
	<ul>

		<li><a href="https://github.com/fulcrumgenomics/fgbio/zipball/gh-pages">Download <strong>ZIP File</strong></a></li>
		<li><a href="https://github.com/fulcrumgenomics/fgbio/tarball/gh-pages">Download <strong>TAR Ball</strong></a></li>
		<li><a href="https://github.com/fulcrumgenomics/fgbio">View On <strong>GitHub</strong></a></li>
	</ul>
</header>
